<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0551552CD377470C9AD75EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>061E8E45AD204124AD6C8873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>099D751A368C4B7DA6E79FA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>133DC4EE6FD041AF974BE026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB426C6BF294F88A005470B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85AC88C6B39947699E6E1B21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85DECA02D555412590DA2CAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9464E2ACE3D943D4BB058B49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2F822CB5A7D46F395B15E2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D56D793C549A42BD84EAE222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D84DA41B413A4AA683E2BB65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E589EA6AC215422A871159D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
